@media (min-width: 576px) {
    .container {
        max-width: 768px;
    }

    .period {
        text-align: left
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 992px;
    }

    .left-col {
        position: fixed
    }

    .period {
        text-align: left
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }

    .period {
        text-align: left
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 2480px;
    }

    .period {
        text-align: right
    }
}

/* tag selector */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Microsoft JhengHei;
    color: #5a5a5a
}

hr {
    border-width: 1px
}

h2 {
    font-size: 2.5rem;
    color: #6474F0;
    padding: 0 0 1px 0
}

ul {
    padding: 0px 3px 0px 25px;
    line-height: 2em;
}

/* class selector */
.p {
    line-height: 2em;
    padding: 0px 0px 5px 5px;
}

.p2 {
    line-height: 2em;
    margin: 0
}

.left-col {
    height: 100vh;
    background-color: #5EA5F3;
    /* position:fixed; */
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.profile {
    width: 80%;
    max-width: 200px;
    border: solid rgb(189, 215, 238) 0.5em;
    border-radius: 50%;
    margin-bottom: 1em
}

.languages {
    text-align: center
}

.bold {
    font-weight: bold
}

.single_language {
    color: #5EA5F3;
    font-size: 65px;
    line-height: 1em;
    font-weight: bold;
    margin: 10px
}

.hello {
    color: white;
    font-size: 20px;
}